.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: blue;
    
  }

  .nav {
    color: #9F2305;
  }

  footer {
    animation: flicker 1.5s infinite alternate;
    background-color: #013220;
    padding: 25px;
  }

  .jumbotron {
    background: url("images/luxa.org-opacity-changed-mountainoasis.jpg") no-repeat center center;
    
    background-size: cover;
  }

  .intro {
    color: #9F2305;
    background-color: rgba(255,255,255,0.4);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  }

.tagline {
  font-size: 60px;
  color: #9F2305;
    background-color: rgba(255,255,255,0.4);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.missionStatement {
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  background-color: #f0f8ff;
  border-radius: 25px;
}


.tagline:hover {
  color: #111;
  background: greenyellow;
  box-shadow: 0 0 100px greenyellow;
}

.intro:hover {
  color: #111;
  background: greenyellow;
  box-shadow: 0 0 100px greenyellow;
}

.navbarItem:hover {
  color: #111;
  background: greenyellow;
  box-shadow: 0 0 100px greenyellow;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

.resumeResearch {
  font-family: 'Times New Roman', Times, serif;
  background-color: #E6E6FA;
  border-radius: 25px;
}